
<!--
<img style="width:120px; height:100px;" src="/favicon.ico">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
-->
<h2>The Hub Redict Test</h2>

<script type="text/javascript">
    window.location = 'TheHub://';
</script>